* {
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.box {
    background-color: steelblue;
    height: 180px;
    width: 250px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    border-radius: 5px;
    transform: translateX(400%);
    transition: transform 1.5s ease;
}

.box:nth-of-type(even) {
    transform: translateX(-400%);
}

/* .box.show is different than .box .show. If not writing it this way
it will not be applied to nth of type selected boxes */
.box.show {
    transform: translateX(0);
}