* {
  padding: 0;
  margin: 0;
}

#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: linear-gradient(white 50%, steelblue 50%);
}

/* Base Class */

.navbar {
  background-color: green;
  width: 70px;
  height: 70px;
  font-size: 0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
  box-shadow: 2px 2px 2px 1px black;
}

.line {
  transition: transform 1s ease;
  height: 20px;
  width: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  cursor: pointer;
}

.line1 {
  background-color: white;
  width: 25px;
  height: 3px;
}

.line2 {
  background-color: white;
  width: 25px;
  height: 3px;
}

.navbar.navbar-active {
  font-size: inherit;
  width: 300px;
  display: flex;
  justify-content: space-evenly;
}

ul {
  list-style: none;
  display: flex;
  width: 200px;
  justify-content: space-between;
  cursor: pointer;
}

.line.line-active {
  height: 30px;
  transform: rotateZ(360deg);
  position: relative;
  cursor: pointer;
}

.line1.line1-active {
  transform-origin: left;
  transform: rotateZ(36deg);
}

.line2.line2-active {
  transform-origin: left;
  transform: rotateZ(-36deg);
}
